# Options:
#   - enable rewrite engine
#   - disable file index view for directories
Options All -Indexes -MultiViews +FollowSymLinks +SymLinksIfOwnerMatch +Includes
RewriteEngine On


# Process HTML files as PHP
#AddType "application/x-httpd-php" ".html" ".htm"
#AddType "application/x-httpd-php5" ".html" ".htm"

# Set MIME Type of PHP files to HTML
#AddType "text/html" ".php"


# Force HTTPS
RewriteCond "%{HTTPS}" "off"
RewriteRule "^" "https://%{HTTP_HOST}%{REQUEST_URI}" [R=301,L,NC]

# Truncate everything after "index" in the request uri, including "index" itself
RewriteCond "%{REQUEST_METHOD}" "!POST"
RewriteCond "%{THE_REQUEST}" "^[A-Z]{3,}\s([^.]+)index.*$" [NC]
RewriteRule "^" "%1" [R=308,NE,L]


# Permanent uri aliases
RewriteCond "%{REQUEST_URI}" "/home/?$" [NC]
RewriteRule "^" "/" [R=308,NC,L]


# Rewrite to return favicons
RewriteCond "%{REQUEST_URI}" "/favicon.ico$" [NC]
RewriteRule "^" "/media/logo/werobots_logo.ico" [NC,L]
RewriteCond "%{REQUEST_URI}" "/favicon.png$" [NC]
RewriteRule "^" "/media/logo/werobots_logo_transparent.png" [NC,L]

RewriteCond "%{REQUEST_URI}" "/apple-touch-icon.png$" [NC]
RewriteRule "^" "/media/logo/werobots_logo_transparent.png" [NC,L]
RewriteCond "%{REQUEST_URI}" "/apple-touch-icon-precomposed.png$" [NC]
RewriteRule "^" "/media/logo/werobots_logo_transparent.png" [NC,L]


# Return "Forbidden (403)"
# git and VSC (config) files
RewriteRule ".vscode/.*$" "-" [F,NC,NS,L]
RewriteRule ".git/.*$" "-" [F,NC,NS,L]
RewriteRule ".gitignore$" "-" [F,NC,NS,L]

# Return "Not Found (404)" if the requested filename does not exist as directory or file
RewriteCond "%{REQUEST_FILENAME}" "!-d"
RewriteCond "%{REQUEST_FILENAME}" "!-f"
RewriteRule "^" "-" [R=404,L]